$breakpoints: (
    //mobile
    xs:320px,
    sm:480px,
    //tablet
    md:780px,
    lg:990px,
    xl:1280px
);

@mixin break($size){
    @media (min-width: map-get($breakpoints,$size)){
        @content
    }
};

.text{
    @include break(1440px){
        font-size: 25px;
    }
    @include break(989px){
        font-size: 16px;
    }
}

// .col{
//     &-sm{
//         &-1{

//         }
//     }
// }

//looping px diatas
//@mixin grid-col{
    //looping object
    // @each $key, $value in breakpoints{
    //     //looping value
    //     @for $i from 1 through $items{
    //         &.#{key}{
    //             width: $value;
    //         }
    //     }
    // }
//}
//looping px diatas dengan if
//@mixin grid-col{
    //looping object
    // @each $key, $value in $breakpoints{
        //looping value
        //     @for $i from 1 through $items{
        //         @if($key == 'sm'){
        //         &-#{key}{
        //             width: $value;
        //         }
        //         } @else{
        //             &-#{key}-testing{
        //                 width: $value;
        //             }
        //         }
        //     }
        // }       
//    }

// .col{
//     @include grid-col;
//   }
  
//   .col-sm{
  
//   }
  
//   .col-lg-testing{
  
//   }
  
//   @media screen and (min-width : 1280px) and (max-width :1440px){
//     .text{
//         font-size: 25px;
//     }
//   }